* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,body {
  color: black;
  background-color: aliceblue;
  font-family: Lato, sans-serif;
  margin-top: 40px;

}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sergio-logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sergio-logo {
  width: 400px;
  height: 50px;
  
}